@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
}

option {
  color: black;
}

#map { }


.filters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;    
}

.filters__row {
    display: inline-flex;
    gap: 5px;
    align-items: center;
    flex-flow: column;
}

.filters__row > p {
    display: inline-flex;
    justify-content: center;
}


.filters__row > * {
    width: 100%;
}

.filters__row--date {
    position: relative;
}

.filters__row--date > div {
    position: absolute;
    top: 50px;
    z-index: 1000;
    min-width: 100%;
    background-color: white;
    border: 1px solid var(--chakra-colors-gray-300)
}